<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a la prueba de Odata
  </h1>
</div>


<div>

    <p>
        Previamente verifique el servidor escuchando en el puerto <span class="resaltado">{{puertoServidor}}</span>
    </p>
    
  <h2>Ingrese el numero de caja (1 a 3)</h2>

  
  <div>
    <input [(ngModel)]="valor"  />
  </div>

 
  <button (click)="BuscarEnElServidor()">Buscar la Caja</button>
  <button (click)="AgregarCaja()">Agregar Nueva</button>

  <span>El Servidor dice </span><span class="valor">{{mensaje}}</span>

  <div *ngIf="hayentidad">

    <clio-caja [caja]="unacaja">

    </clio-caja>


    <button *ngIf="hayentidad || esagregar" (click)="GuardarCaja()">Guardar</button>

    <button *ngIf="! esagregar" (click)="EliminarCaja()">Eliminar</button>

    <button (click)="Cancelar()">Cancelar</button>

  </div>
</div>


