
<div>

	<h1>Caja</h1>

	<div>

		<div>

			<div class="etiqueta">Id de Caja</div>
			<span class="idcaja">{{caja.id}}</span>
		</div>

		<div>
			<div class="etiqueta">Nombre</div>
			<input [(ngModel)]="caja.Nombre" />
		</div>

		<div>
				<div class="etiqueta">Caracteristicas</div>
				<input [(ngModel)]="caja.Caracteristicas" />
		</div>

	</div>

</div>